<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head -->
  <%- include('partials/_head') %>
</head>

<body>
  <!-- Navbar -->
  <%- include('partials/_navbar') %>

  <!-- Orders List -->
  <div class="container mp-1">
    <table class="table">
      <caption>
        List of orders
      </caption>
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">Total Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Ordered On</th>
          <th scope="col">Status</th>
          <th scope="col">ETA (minutes)</th>
        </tr>
      </thead>
      <tbody>
        <% for(const order of orders) { %>
        <tr>
          <td><%= order.order_id %></td>
          <td> <%=order.total_price / 100 %></td>
          <td><%= order.quantity %></td>
          <td>
            <%= order.created_at.getFullYear() + "/" + (order.created_at.getMonth() + 1) + "/" + order.created_at.getDate() %>
          </td>
          <td><button class="btn btn-outline-info">
              <%= order.status %>
            </button></td>
          <td><%= order.eta %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <!-- Footer -->
  <%- include('partials/_footer') %>

  <!-- jQuery and Boostrap Bundle -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
  </script>
</body>

</html>
