<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Bubbles Delight</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>

    <!-- App JS -->
    <!-- <script type="text/javascript" src="/scripts/bubbletea-helpers.js"></script> -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="container mp-1" >
      <table class="table">
      <caption>
        List of orders
      </caption>
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">Total Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Ordered On</th>
          <th scope="col">Status</th>
          <th scope="col">ETA (minutes)</th>
        </tr>
      </thead>
      <tbody>
        <% for(const order of orders) { %>
        <tr>
          <td><%= order.order_id %></td>
          <td> <%=order.total_price %></td>
          <td><%= order.quantity %></td>
          <td><%= order.created_at.getFullYear() + "/" + (order.created_at.getMonth() + 1) + "/" + order.created_at.getDate() %> </td>
          <td><button class="btn btn-outline-info">
            <%= order.status %>
          </button></td>
          <td><%= order.eta %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    </div>


    <!-- jQuery and Boostrap Bundle -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
